/* NARANCSDOBOZOK */
.linkimage-orange {
    margin-top: 1px;
    width: 100%;
    margin-right: 5px;
    min-width: 200px;
    max-width: 300px;
    background-color: orange;
    height: auto;
  }
  
  .linkimage-orange img {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
  
  .linkcontent-orange {
    display: flex;
    flex-direction: column;
    color: black;
    //background-color: red;
    float: left;
    max-height: 199px;
  }
  
  .linktitle-orange {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    color: black;
    font-size: 23px;
    border-bottom: grey solid 1px;
  }
  
  .linkdescription-orange {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /*  max-height: 77%; */
    height: auto;
    position: relative;
  }
  
  .linkkeret-orange {
    display: flex;
    text-decoration: none;
    overflow: hidden;
    border-style: solid;
    border-color: grey;
    background-image: linear-gradient(orange, #fad983);
    width: 95%;
    padding: 3px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    box-shadow: 6px 3px 8px 3px rgba(0, 0, 0, 0.3);
    min-width: 280px;
    max-height: 200px;
  }
  
  .linkkeret-orange:hover .linkbase {
    color: red;
  }
  
  .linkkeret-orange:hover .linkcontent {
    color: darkred;
  }
  
  .linkkeret-orange:hover {
    border-color: red;
    box-shadow: 6px 3px 8px 3px rgba(0, 0, 0, 0.5);
  }
  
  /* KÉKDOBOZOK */
  
  .linkimage {
    margin-top: 1px;
    width: 50%;
    margin-right: 5px;
    min-width: 200px;
    max-width: 400px;
    max-height: 200px;
    background-color: lightblue;
    height: 150px;
  }
  
  .linkimage img {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
  
  .linkcontent {
    display: flex;
    flex-direction: column;
    color: black;
    //background-color: red;
    float: left;
    max-height: 199px;
    color: white;
  }
  
  .linktitle {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    color: white;
    font-size: 20px;
    border-bottom: grey solid 1px;
  }
  
  .heighttarto {
  }
  
  .linkdescription {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /*  max-height: 77%; */
    height: 110px;
    position: relative;
  }
  
  .linkburok a {
    text-decoration: none;
  }
  
  #linkkeret1 {
    /* display: flex; */
    text-decoration: none;
    overflow: hidden;
    border-style: solid;
    border-color: grey;
    background-image: linear-gradient(rgb(0, 46, 91), rgb(92, 133, 214));
    width: 97%;
    padding: 3px;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 0px;
    margin-bottom: 1px;
    box-shadow: 6px 3px 8px 3px rgba(0, 0, 0, 0.3);
    min-width: 280px;
    max-height: 240px;
    height: 180px;
  }
  
  #linkkeret2 {
    /* display: flex; */
    text-decoration: none;
    overflow: hidden;
    border-style: solid;
    border-color: grey;
    background-image: linear-gradient(rgb(0, 46, 91), red);
    width: 97%;
    padding: 3px;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 0px;
    margin-bottom: 1px;
    box-shadow: 6px 3px 8px 3px rgba(0, 0, 0, 0.3);
    min-width: 280px;
    max-height: 240px;
    height: 180px;
  }

  .linkkeret:hover .linkbase {
    color: rgb(0, 255, 0);
  }
  
  .linkkeret:hover .linkcontent {
    color: rgb(0, 255, 0);
  }
  
  .linkkeret:hover {
    border-color: rgb(0, 255, 0);
    box-shadow: 6px 3px 8px 3px rgba(0, 0, 0, 0.5);
  }
  
  .linkburok {
    margin-bottom: 50px;
  }
  
  .linktorzs {
    display: flex;
    flex-direction: row;
  }
  
  .entries {
    display: flex;
    flex-direction: row;
    float: left;
    width: 98.5%;
    color: white;
    padding: 3px;
    margin: 3px;
    background-color: grey;
  }
  
  .entries a {
    color: white;
    margin-right: 3px;
  }
  /* FEJLÉC CSS */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  login-div{
position: absolute;
  }
  
  .informaciok {
      text-align: justify;
  }
