h1 {
    color: blue;
    font-family: "roboto"
    src: url("css\fonts\Roboto\Roboto-Regular.ttf");
    font-weight: 900;
}


h3 {
    color: red;
    font-size: 24px;
    }

h4 {
    color:green;
    font-size: 18px
} 